body {
    font-family: 'Poppins', sans-serif;
}

.first-class {
    background-image: url(images/donation0.jpg);
    background-size: 100%;
    background-position: 30px;
    height: 650px;
    color: white;
    width: 1330px;
    background-color: rgba(46, 41, 41, 0.486);
}

.flexible-container {
    display: flex;
}

h1 {
    font-size: 50px;
    text-align: center;
}

span {
    color: rgb(253, 117, 6);
}

p {
    font-size: 16px;
    color: rgb(28, 220, 226);
    padding-left: 10px;
    text-align: center;
    text-shadow: 10px 10px 50px 100px;
}

.link-name {
    text-align: center;
    background-image: linear-gradient(orange, tomato);
    color: rgb(243, 236, 222);
    border-radius: 7%;
    padding: 5px;
    font-weight: 700px;
    text-decoration: solid;
    margin-left: 600px;
}

.last-class {
    color: black;
}

.last {
    display: inline;
}

.half-width {
    width: 2%;
    margin-left: 220px;
}

.tk {
    color: orange;
}

.link {
    margin-left: 40%;
    border-bottom: 50%;
    border: 100%;
}

.pay {
    background-image: linear-gradient(rgb(177, 144, 81), rgb(57, 160, 158));
    color: rgb(240, 235, 226);
    border-radius: 7%;
    padding: 5px;
    font-weight: 200px;
    margin-left: 250px;
    margin-right: 200px;
    text-decoration: solid;
    margin-inline: 40px;
}

h6 {
    text-align: center;
}

.one {
    color: black;
    background-color: rgb(90, 165, 136);
    border-radius: 2%;
    padding: 5px;
    height: 150%;
    text-align: center;
    width: 1100px;
    margin-left: 20px;
}

.two {
    color: black;
    background-color: rgb(180, 161, 136);
    border-radius: 2%;
    padding: 5px;
    height: 150%;
    text-align: center;
    width: 1100px;
    margin-left: 20px;
}

.three {
    color: black;
    background-color: rgb(129, 116, 189);
    border-radius: 2%;
    padding: 5px;
    height: 150%;
    text-align: center;
    width: 1100px;
    margin-left: 20px;
}

.say {
    background-image: linear-gradient(rgb(168, 88, 208), rgb(153, 199, 121));
    color: rgb(240, 235, 226);
    border-radius: 7%;
    padding: 5px;
    font-weight: 200px;
    margin-left: 250px;
    margin-right: 200px;
    text-decoration: solid;
    margin-inline: 40px;
}

#one {
    color: black;
    text-align: left;
    margin-right: 40%%;
}

h2 {
    text-align: left;
}

.flexible-container {
    display: flex;
    margin-top: 100px;
}

.zero {
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
    border: 20px;
    background-color: orangered;
    background-position: 10px;
}

.footer {
    color: rgb(226, 103, 124);
    font-family: 'Courier New', Courier, monospace;
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    padding-bottom: 5%;

}